* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

nav {
    background-color: #0d0d0d;
    color: #f5f5f5;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

nav ul li {
    align-self: center;
}

nav ul li:nth-child(1) {
    background-color: #0d0d0d;
}

nav ul li img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid 1px #0d0d0d;
}

nav ul li a {
    padding: 1rem;
    border-radius: 15px;
    background-color: #400707;
    color: #8c5b30;
}

nav ul li a:hover {
    background-color: #8c241b;
    transition: 0.3s ease;
}

main {
    background-color: #730e20;
    padding-top: 2rem;
}

.quienSoy {
    display: grid;
    grid-template-rows: auto auto auto;
    color: #8c5b30;
}

.quienSoy img{
    justify-self: center;
    width: 20rem;
    height: 20rem;
    grid-row: 1;
    border-radius: 50%;
    border: solid 5px black;
}

.quienSoy h2{
    grid-row: 2;
    justify-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.quienSoy p{
    grid-row: 3;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    border-bottom: solid 5px black;
}

.experiencia {
    display: grid;
    grid-template-rows: auto auto auto;
    border-bottom: solid 5px black;
}

.experiencia h2{
    justify-self: center;
    padding-top: 2rem;
    font-weight: bold;
}

.experiencia img{
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.experiencia p{
    padding-left: 2rem;
    padding-right: 2rem;
}

.experiencia p:last-child{
    padding-bottom: 2rem;
}

.proyectos{
    display: grid;
    grid-template-rows: auto auto auto;
    border-bottom: solid 5px black;
}

.proyectos h2{
    justify-self: center;
    padding-top: 2rem;
    font-weight: bold;
}

.proyectos img{
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}


.proyectos p{
    
}

.proyectos p a{
    justify-self: center;
}

.estudios{
    display: grid;
    grid-template-rows: auto auto auto;
    border-bottom: solid 5px black;
}

