* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.share {
    width: 15px;
    height: 15px;
}


.navegacionIzqd {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    gap: 1rem;
   
}

.navegacionDcha {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: 1rem;
   
}

.cabecera__sobreGoogle:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cabecera__tienda:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cabecera__gmail:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cabecera__imagenes:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cabecera__button {
    background-color: blue;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.cabecera__button:hover{
    background-color:aquamarine;
}