.container {
    display: flex;
    flex-wrap: wrap;
}

.caja {
    width: 400px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
    margin: 50px;
}

.posicion{
    position: sticky;
    top: 50px;
    left: 50px;
}