*{
    background-color : aqua;
}

.logo {
    width: 80px;
    height: 80px;
    mix-blend-mode: multiply;
    margin-right: 20px;
}

.titulo {
    font-size: 120px;
    margin-left: 30px;
    color: black;
    text-transform: uppercase;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navegacion{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navegacion li{
    padding-left: 30px;
    font-size: 28px;
    text-transform: uppercase;
}