*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

body{
    background-color: grey;
}

.logo {
    width: 80px;
    height: 80px;
    mix-blend-mode: multiply;
    margin-right: 20px;
}

.titulo {
    font-size: 120px;
    margin-left: 30px;
    color: maroon;
    text-transform: uppercase;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navegacion{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: maroon;
}

.navegacion li{
    padding-left: 30px;
    font-size: 28px;
    text-transform: uppercase;
}

.containerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.card{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 250px;
    color: red;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card__titulo {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: red;
    position: absolute;
    text-transform: uppercase;
    padding-top: 1rem;
}

.card__desc {
    font-size: 0.9rem;
    color: red;
    margin-bottom: 0.8rem;
    padding: 0 0.5rem;
}

.card__price{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.8rem;
}

.card__btnCompra {
    background-color: brown;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card__btnCompra:hover {
    background-color:red;
    transform: scale(1.05);
}