/*visibility : hidden*/
/*fuente para aprender algo más de grid: https://www.youtube.com/watch?v=QcYz949d8rM */
/*blur https://www.youtube.com/watch?v=9nta9-bsMiw*/
/*Me he valido del modo inspeccionar de chrome para realizar la mayoría del trabajo, con esto, me parece que grid es hasta más fácil
que usar el flex, o por lo menos controlarlo*/
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Header: barra principal de navegación y tags*/
header {
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    background-color: white;
    padding: 0.6rem;
    padding-left: 1rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(40px);
}

.barra_principal nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .barra_principal nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 0.8fr 1.5fr 5.5fr 2.5fr 0.7fr 0.7fr 0.7fr;
    }

    .barra_principal nav ul li:nth-child(3){
        grid-column: 3;
        justify-self: end;
    }

    .buscador_contenedor {
        display: flex;
        align-items: center;
        border: solid 1px #d7dede;
        border-radius: 25px;
        height: 2.3rem;
        overflow: hidden; 
        width: 13rem;
    }

    .buscador_contenedor i {
        padding: 0.5rem;
        background-color: #f1f1f1;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-left: solid 1px #d7dede;
    }

    .buscador {
        border: none;
        outline: none;
        padding-left: 0.5rem;
        flex: 1;
        width: 8rem;
    }

    .barra_principal nav ul li:nth-child(4) i{
        border-radius: 50%;
        background-color: #f1f1f1;
        padding: 0.3rem;
        margin-left: 1rem;
    }

}

.barra_principal nav ul li:first-child{
    grid-column: 1;
}

.barra_principal nav ul li:nth-child(2){
    grid-column: 2;
    justify-self: start;
}
@media (max-width: 767px) {
    .buscador{
        display: none;
    }
}
.barra_principal nav ul li:nth-child(3){
    grid-column: 3;
}

.barra_principal nav ul li:nth-child(4){
    grid-column: 4;
}

.barra_principal nav ul li:nth-child(5){
    grid-column: 5;
}

.barra_principal nav ul li:nth-child(6){
    grid-column: 6;
}

.barra_principal nav ul li:nth-child(7){
    grid-column: 7;
}

.logo_yt {
    height: 1.3rem;
    width: 5.5rem;
}

.user_logo{
    height: 3.1rem;
    width: 3.1rem;
}

.barra_tags_contenedor {
    display: flex;
    align-items: center;
    position: relative;
}

.barra_tags {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
}

.barra_tags ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.barra_tags ul li {
    border-radius: 5px;
    height: 1rem;
    padding: 0.5rem;
    gap: 1rem;
    background-color: #f1f1f1;
    font-weight: 500;
    font-size: 0.8rem;
}

.barra_tags ul li:hover {
    background-color: black;
    color: white;
}

.scroll-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
}

/*Body: resto de Youtube, es decir, vídeos y shorts*/
/*Cards de vídeos normales*/
.video_card {
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .video_columna{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .video_card img{
        width: 45vw;
        border-radius: 10px;
        margin-left: 0.8rem;
    }
}

@media (max-width: 767px) {
    
    .video_card img{
        margin-left: 0.8rem;
        border-radius: 15px;
        width: 90vw;
    }
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding-top: 0.5rem;
}

.card_info span{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-left: 0.7rem;
    grid-template-rows: auto auto auto;
}

.card_info span p:first-child {
    font-weight: bold;
    display: block;
    grid-row: 1;
}

.card_info span p:nth-child(2) {
    font-size: 0.8rem;
    display: grid;
    grid-row: 2;
    color: gray;
    font-weight: 450;
}

.card_info span p:nth-child(3) {
    font-size: 0.8rem;
    display: grid;
    grid-row: 3;
    color: gray;
    font-weight: 450;
}

.card_info i{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    align-items: start;
}

.card_info img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    grid-column: 1;
}

/*Estructura de los shorts*/
.shorts span:first-child{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 3.5fr 1fr;
    padding-left: 2rem;
    padding-top: 1rem;
}

.shorts span:first-child img{
    width: 1.5rem;
    height: 1.5rem;
    grid-column: 1;
}

.shorts span:first-child p{
    grid-column: 2;
    font-weight: bold;
}

.shorts span:first-child i{
    grid-column: 4;
    align-content: start;
}

.short_minis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 1fr;
    padding-left: 1.2rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
    width: 40w;
    height: 80vw;
    column-gap: 0.5rem;
}

.short_minis img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}

.mini1{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;   
}

.mini2{
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
}

@media (max-width: 767px) {
    .mini3{
        display: none;
    }
    .short_thumb3{
        display: none;
    }
}

.short_thumb1 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto auto;
}

.short_thumb2 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto auto;
}

.short_thumb1 p{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    font-weight: 600;
}

.short_thumb1 p:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    font-size: 0.7rem;
    color: gray;
}

.short_thumb2 p{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    font-weight: 600;
}

.short_thumb2 p:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    font-size: 0.7rem;
    color: gray;
}

.short_thumb1 i{
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
}

.short_thumb2 i{
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
}

.barra_lateral {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .short_minis{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8fr 1fr;
        padding-left: 1.2rem;
        padding-top: 1.5rem;
        padding-right: 1rem;
        padding-bottom: 2.5rem;
        overflow: hidden;
        width: 95vw;
        height: 55vw;
        column-gap: 0.5rem;
    }

    .mini3{
        grid-column: 3;
        grid-row: 1;
        justify-self: start;
    }

    .short_thumb3 {
        grid-column: 3;
        grid-row: 2;    
        display: grid;
        grid-template-columns: 6fr 1fr;
        grid-template-rows: auto auto;
    }

    .short_thumb3 p{
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        font-weight: 600;
    }

    .short_thumb3 p:nth-child(3){
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        font-size: 0.7rem;
        color: gray;
    }

    .short_thumb3 i{
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        align-self: center;
    }
}

@media (min-width: 1024px) {
    
    .barra_lateral{
        display: block;
    }

    .barra_lateral ul{
        list-style: none;
    }
}