/*visibility : hidden*/
/*fuente para aprender algo más de grid: https://www.youtube.com/watch?v=QcYz949d8rM */
/*Me he valido del modo inspeccionar de chrome para realizar la mayoría del trabajo, con esto, me parece que grid es hasta más fácil
que usar el flex, o por lo menos controlarlo*/
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    grid-area: header;
}

.barra_principal nav {
    margin: 0.7rem;
    padding: 0.1rem;
}


.barra_principal nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.barra_principal nav ul li:first-child{
    grid-column: 1;
}

.barra_principal nav ul li:nth-child(2){
    grid-column: 2;
}

.barra_principal nav ul li:nth-child(3){
    grid-column: 3;
}

.barra_principal nav ul li:nth-child(4){
    grid-column: 4;
}

.barra_principal nav ul li:nth-child(5){
    grid-column: 5;
}

.barra_principal nav ul li:nth-child(6){
    grid-column: 6;
}

.logo_yt {
    height: 1.3rem;
    width: 5rem;
}

.user_logo{
    height: 3.5rem;
    width: 3.5rem;
}

.barra_tags ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
    overflow: hidden;
}

.barra_tags ul li {
    border-radius: 5px;
    height: 1rem;
    padding: 0.8rem;
    gap: 1rem;
}

.barra_tags ul li:hover{
    background-color: black;
    color: white;
}

.video_card {
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
}

.video_card img{
    margin-left: 0.8rem;
    width: 41vh;
    height: 24vh;
    border-radius: 15px;
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding-top: 0.5rem;
}

.card_info span{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-left: 0.7rem;
    grid-template-rows: auto auto auto;
}

.card_info span p:first-child {
    font-weight: bold;
    display: block;
    grid-row: 1;
}

.card_info span p:nth-child(2) {
    font-size: 0.8rem;
    display: grid;
    grid-row: 2;
}

.card_info span p:nth-child(3) {
    font-size: 0.8rem;
    display: grid;
    grid-row: 3;
}

.card_info i{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    align-items: start;
}

.card_info img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    grid-column: 1;
}

.shorts span:first-child{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding-left: 2rem;
    padding-top: 1rem;
}

.shorts span:first-child img{
    width: 1.5rem;
    height: 1.5rem;
    grid-column: 1;
}

.shorts span:first-child p{
    grid-column: 2;
    font-weight: bold;
}

.shorts span:first-child i{
    grid-column: 3;
    align-content: start;
}

.shorts span:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8fr 1fr 1fr;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.shorts span:nth-child(2) img{
    width: 20.5vh;
    height: 26vh;
    border-radius: 5px;
}

.shorts span:nth-child(2) img:first-child{
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

.shorts span:nth-child(2) img:nth-child(2){
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
}

.shorts span:nth-child(2) p:nth-child(3){
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    font-weight: bold;
}

.shorts span:nth-child(2) p:nth-child(4){
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    font-weight: bold;
}

.shorts span:nth-child(2) i:nth-child(5){
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}

.shorts span:nth-child(2) i:nth-child(6){
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
}

.shorts span:nth-child(2) p:nth-child(7){
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    
}

.shorts span:nth-child(2) p:nth-child(8){
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    font-size: 0.8rem;
}

