/*visibility : hidden*/
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    grid-area: header;
}

.barra_principal nav {
    margin: 0.7rem;
    padding: 0.1rem;
    display: grid;
    align-content: end;
}

.barra_principal nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.logo_yt {
    height: 1.3rem;
    width: 5rem;
}

.user_logo{
    height: 3.5rem;
    width: 3.5rem;
}

.barra_tags ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
    overflow: hidden;
}

.barra_tags ul li {
    border-radius: 5px;
    height: 1rem;
    padding: 0.8rem;
    gap: 1rem;
}

.barra_tags ul li:hover{
    background-color: black;
    color: white;
}

.video_cards1 {
    margin: 0.7rem;
    padding: 0.1rem;
}
.video_cards1 img{
    width: 43vh;
    height: 22vh;
    border-radius: 5px;
}