/*fuente para aprender algo más de grid: https://www.youtube.com/watch?v=QcYz949d8rM */
/*blur https://www.youtube.com/watch?v=9nta9-bsMiw*/
/*scroll en desktop de barra lateral y body https://stackoverflow.com/questions/32169383/how-to-scroll-2-divs-separately-using-full-height-of-browser*/
/*webkit box y line clamp https://stackoverflow.com/questions/63376172/how-can-i-use-webkit-line-clamp*/
/*tuve que refactorizar los shorts a ultima hora porque los definí bastante mal en html, me quité 300 lineas de codigo pero 3 horas de tiempo*/
/*he intentado ordenar el código 1 estilos generales, 2 estilos <767px 3 estilos tablet... pero solo he conseguido cargármelo
siento que esté el codigo sucio, soy consciente de ello*/
/*Me he valido del modo inspeccionar de chrome para realizar la mayoría del trabajo, con esto, me parece que grid es hasta más fácil
que usar el flex, o por lo menos controlarlo.*/
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    background-color: white;
    padding: 0.6rem;
    padding-left: 1rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(40px);
    z-index: 100;
}

.barra_principal nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .barra_principal nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 0.8fr 1.5fr 5.5fr 2.5fr 0.7fr 0.7fr 0.7fr;
    }

    .barra_principal nav ul li:nth-child(3){
        grid-column: 3;
        justify-self: end;
    }

    .buscador_contenedor {
        display: flex;
        align-items: center;
        border: solid 1px #d7dede;
        border-radius: 25px;
        height: 2.3rem;
        overflow: hidden; 
        width: 13rem;
    }

    .buscador_contenedor i {
        padding: 0.5rem;
        background-color: #f1f1f1;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-left: solid 1px #d7dede;
    }

    .buscador {
        border: none;
        outline: none;
        padding-left: 0.5rem;
        flex: 1;
        width: 8rem;
    }

    .barra_principal nav ul li:nth-child(4) i{
        border-radius: 50%;
        background-color: #f1f1f1;
        padding: 0.3rem;
        margin-left: 1rem;
    }

}

.barra_principal nav ul li:first-child{
    grid-column: 1;
}

.barra_principal nav ul li:nth-child(2){
    grid-column: 2;
    justify-self: start;
}
@media (max-width: 767px) {
    .buscador{
        display: none;
    }
}
.barra_principal nav ul li:nth-child(3){
    grid-column: 3;
}

.barra_principal nav ul li:nth-child(4){
    grid-column: 4;
}

.barra_principal nav ul li:nth-child(5){
    grid-column: 5;
}

.barra_principal nav ul li:nth-child(6){
    grid-column: 6;
}

.barra_principal nav ul li:nth-child(7){
    grid-column: 7;
}

.logo_yt {
    height: 1.3rem;
    width: 5.5rem;
    cursor: pointer;
}

.user_logo{
    height: 3.1rem;
    width: 3.1rem;
}

.barra_tags_contenedor {
    display: flex;
    align-items: center;
    position: relative;
}

.barra_tags {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
}

.barra_tags ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}

.barra_tags ul li {
    border-radius: 5px;
    height: 1rem;
    padding: 0.5rem;
    gap: 1rem;
    background-color: #f1f1f1;
    font-weight: 500;
    font-size: 0.8rem;
}

.barra_tags ul li:hover {
    background-color: black;
    color: white;
}

.scroll-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
}

main{
    overflow-x: hidden;
}

.video_card {
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .video_columna{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .video_card img{
        width: 45vw;
        border-radius: 10px;
        margin-left: 0.8rem;
    }
}

@media (max-width: 767px) {
    
    .video_card img{
        margin-left: 0.8rem;
        border-radius: 15px;
        width: 90vw;
    }
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding-top: 0.5rem;
}

.card_info span{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-left: 0.7rem;
    grid-template-rows: auto auto auto;
}

.card_info span p:first-child {
    font-weight: bold;
    display: block;
    grid-row: 1;
}

.card_info span p:nth-child(2) {
    font-size: 0.8rem;
    display: grid;
    grid-row: 2;
    color: gray;
    font-weight: 450;
}

.card_info span p:nth-child(3) {
    font-size: 0.8rem;
    display: grid;
    grid-row: 3;
    color: gray;
    font-weight: 450;
}

.card_info i{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    align-items: start;
}

.card_info img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    grid-column: 1;
}

.barra_lateral {
    display: none;
}


@media (min-width: 1025px) {

    body{
        overflow-y: hidden;
    }

    header {
        position: sticky;
        top: 0;
        padding: 0.1rem;
        padding-left: 0.5rem;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(40px);
    }

    .barra_principal {
        position: sticky;
        z-index: 30;
    }
    
    .barra_lateral{
        width: 11rem;
        background-color: white;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        z-index: 5;
        height: 90vh;
        top: 3.8rem;
        z-index: 20;
    }

    .barra_tags {
        z-index: 10;
    }

    .barra_lateral ul{
        list-style: none;
    }

    .barra_lateral ul li{
        display: grid;
        grid-template-columns: 3rem minmax(0, 1fr);
        align-items: center;
        padding: 0.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 5px;
    }

    .corte {
        border-top: solid 1px #f1f1f1;
    }

    .barra_lateral ul li i {
        justify-self: start;
        padding-left: 0.5rem;
    }
    .barra_lateral ul li p {
        justify-self: start;
        font-size: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
        width: 100%;
        display: block;
    }

    .lateral_titulo {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block !important;
        font-size: 0.9rem;
        font-weight: 500;
        margin-left: 0.8rem;
    }

    .barra_lateral ul li:hover{
        background-color: #e5e5e5;
    }

    .barra_lateral ul li img {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        margin-left: 1rem;
    }

    .barra_lateral ul li.corte:hover{
        background-color: transparent;
    }

    .barra_lateral ul li.lateral_info {
        display: block;
        padding: 0.5rem 0.75rem;
        height: auto;
        
    }

    .lateral_info span {
        display: inline-block;
        font-size: 0.5rem !important;
    }

    .lateral_info:hover {
        background-color: transparent !important;
    }

    .barra_lateral ul li.lateral_copy {
        display: block;
        padding: 0.5rem 0.75rem;
        height: auto;
    }

    .lateral_copy {
        display: inline;
        font-size: 0.5rem !important;
        color: #606060;
    }


    .lateral_copy:hover {
        background-color: transparent !important;
    }

    .barra_principal {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .barra_principal nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 0.1fr 0.2fr 2.5fr 1fr 0.15fr 0.15fr 0.15fr;
        align-items: center;
    }

    .barra_principal nav ul li:nth-child(4) i{
        border-radius: 50%;
        background-color: #f1f1f1;
        padding: 0.3rem;
        margin-left: 1rem;
    }

    .buscador_contenedor {
        display: flex;
        align-items: center;
        justify-self: end;
        border: solid 1px #d7dede;
        border-radius: 25px;
        height: 2rem;
        overflow: hidden; 
        width: 29rem;
    }

    .buscador_contenedor i {
        padding: 0.5rem;
        background-color: #f1f1f1;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-left: solid 1px #d7dede;
    }

    .buscador {
        border: none;
        outline: none;
        padding-left: 0.5rem;
        flex: 1;
        width: 8rem;
    }

    .barra_tags_contenedor {
        position: sticky;
        z-index: 8;
        padding-left: 11rem;
    }

    .scroll-btn.left{
        background-color: white;
        border: none;
        border-radius: 50%;
    }

    main {
        margin-left: 11rem;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100vh;
    }

    .video_columna {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100vw;
        overflow-x: hidden;
        margin-left: 0.8rem;
    }

    .video_columna .video_card:nth-child(4) {
        display: none;
    }

    .video_card img{
        width: 27vw;
        border-radius: 10px;
    }

    .card_info img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    .card_info span{
        padding-left: 0.01rem;
    }
}

.shorts_container {
    padding: 1rem 0;
    margin-left: 0.5rem;
}

.shorts_header {
    display: grid;
    grid-template-columns: 0.2fr 8fr 0.3fr;
    gap: 10px;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.shorts_header img { 
    width: 24px;
}
.shorts_header h3 { 
    font-size: 1.2rem; 
    font-weight: bold;
}

.shorts_grid {
    display: grid;
    gap: 10px;
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem;
}


@media (max-width: 767px) {
    .shorts_grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 8px; 
    }

    .short_item:nth-child(n+3) {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .shorts_grid {
        grid-template-columns: repeat(3, 1fr); 
    }

    .short_item:nth-child(n+4){
        display: none;
    }
}

@media (min-width: 1025px) {
    .shorts_grid {
        grid-template-columns: repeat(5, 1fr); 
    }
}

.short_item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}

.short_item img {
    width: 100%;
    aspect-ratio: 2/3; 
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.short_info {
    padding-right: 15px;
}

.short_info .titulo {
    font-weight: 600;
    font-size: 0.9rem; 
    line-height: 1.1rem;
    margin-bottom: 3px;
    color: #0f0f0f;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.short_info .vistas {
    font-size: 0.75rem;
    color: #606060;
}

.short_item i.material-icons {
    position: absolute;
    top: 5px; 
    right: 5px;
    color: white; 
    text-shadow: 0 0 3px rgba(0,0,0,0.6); 
}