*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 32px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a2e;
    color: white;
    overflow: hidden;
}

.instruccion{
    position: absolute;
    top: 20px;
    opacity: 0.7;
}

.sol{
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #fdbb2d, #b21f1f);
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    box-shadow: 0 0 40px #fdbb2d;
    animation-name: latidoSolar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
}

.orbitaTierra{
    width: 800px;
    height: 800px;
    position: absolute;
    animation-name: orbitar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.orbitaTierra:hover{
    animation-play-state: paused;
    cursor: crosshair;
}

.tierra{
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #4facfe, #00f2fe);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px #4facfe;
    animation: entrada 2s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.5s 1 forwards, 
    rotacion 4s linear infinite;
}

.orbitaVenus {
    width: 600px;
    height: 600px;
    position: absolute;
    animation-name: orbitar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.orbitaVenus:hover{
    animation-play-state: paused;
    cursor: crosshair;
}

.venus{
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #2ab584, #12704f);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px #2ab584;
    animation: entrada 2s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.5s 1 forwards, 
    rotacion 4s linear infinite;
}

.orbitaMercurio {
    width: 400px;
    height: 400px;
    position: absolute;
    animation-name: orbitar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.orbitaMercurio:hover{
    animation-play-state: paused;
    cursor: crosshair;
}

.mercurio{
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, #ba7127, #754717);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px #ba7127;
    animation: entrada 2s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.5s 1 forwards, 
    rotacion 4s linear infinite;
}


@keyframes orbitar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes latidoSolar {
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(1.1); opacity: 0.8; box-shadow: 0 0 80px #fdbb2d;}
    100% {transform: scale(1); opacity: 1;}
}

@keyframes entrada {
    0% {transform: translate(-50%, -50%) scale(0); opacity: 0;}
    80% {transform: translate(-50%, -50%) scale(1.2); opacity: 1;}
    100% {transform: translate(-50%, -50%) scale(1); opacity: 1;}

}

@keyframes rotacion {
    to {transform: translate(-50%, -50%) rotate(360deg);}
}