*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: cyan;
}

nav{
    font-size: 1rem;
    display: flex;
    margin-left: 5rem;
    margin-top: 2rem;
}

.iconyt{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 450px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    margin: 2em;
}

.card .poster{
    position: relative;
    overflow: hidden;
}

.card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a6 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster::before{
    bottom: 0px;
}

.card .poster img{
    width: 100%;
    transition: 0.5s;
}

.card .details{
    position: absolute;
    bottom: -120px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s
}

.card:hover .details{
    bottom: 0px;
}

.card .details .logo{
    max-width: 180px;
}

.card .details h3{
    font-size: 0.8em;
    color: white;
}

.card .details .ratings{
    position: relative;
    padding: 5px 0;
}

.card .details .ratings .fa-star{
    color: #f7f406;
    font-size: 1em;
}

.card .details .ratings span{
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

.card .details .tags {
    position: relative;
    margin-top: 5px;
}

.card .details .tags span{
    padding: 2px 5px;
    color: white;
    background-color: #04a8f5;
    border-radius: 4px;
}

.card .details .tags span:nth-child(2){
    background-color: #ff5722;
}

.card .details .infro{
    color: white;
    margin-top: 20px;
}

.card .details .cast{
    position: relative;
}

.card .details .cast h4{
    color: white;
    margin-top: 10px;
}

.card .details .cast ul{
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
